
    /* Tablet view */
    @media screen and (max-width: 768px) {
        /* Header */
        body {
            width: 100%;
        }
        
        header nav {
            display: none;
        }

        header .fa-bars {
            display: block;
        }

        button h3,
        button i {
            font-size: 1rem;
        }

        .cards.big {
            flex-wrap: wrap;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        
        
        .cards.big .imgBox img {
            object-fit: contain;
            align-self: flex-start;
        }
        
        .row {
            width: 100%;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        .rowContent {
            width: 100%;
        }

        .rowContent .imgBox {
            display: flex;
            justify-content: center;
        }
        
        .row h3, .row h4 {
            padding-left: 0;
        }

        /* Benefits */
        .benefitsContainer {
            flex-wrap: wrap;
        }
        .benefitsCard {
            width: calc(100% / 2 - 1rem);
        }
    }
    
    /* Mobile view */
    @media screen and (max-width: 480px) {
        /* Overview */

        .overview {
            padding: 4rem 0rem 2rem 0rem;
        }

        section.planning,
        section.benefits,
        section.partners {
            padding: 2rem 0 2rem 0;
        }
        .overview .cards {
            width: 90%;
        }
        
        .cards.big .content {
            display:flex;
            flex-direction: column;
            justify-content: center;
        }

        .cards.big .imgBox {
            width: 100%;
        }

        .cards.big .imgBox img {
            height: 15rem;
        }

        .cards.big
        /* Planning */
        .row {
            min-width: 0;
            width: 80%;
        }
        .planning .container {
            justify-content: center;
        }

        /* Partners */
        .partnersCard {
            flex-wrap: wrap;
        }

        
        .benefitsCard {
            width: 100%;
        }

        /* About Us */
        .aboutUs .container {
            flex-wrap: wrap;
            justify-content: center;
        }
        .aboutUsContent {
            width: 100%;
        }

        .aboutUsImage {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
