
    /* Tablet view */
    @media screen and (max-width: 768px) {
        /* Header */
        header nav {
            display: none;
        }

        header .fa-bars {
            display: block;
        }

        .cards.big {
            flex-wrap: wrap;
        }


        .cards.big .imgBox img {
            height: 15rem;
            object-fit: contain;
            align-self: flex-start;
        }

    }

