
    /* Tablet view */
    @media screen and (max-width: 768px) {
        /* Header */
        body {
            width: 100%;
        }
        
        header nav {
            display: none;
        }

        header .fa-bars {
            display: block;
        }

        button h3,
        button i {
            font-size: 1rem;
        }

        .row {
            min-width: 480px;
        }
        .cards.big {
            flex-wrap: wrap;
            display: flex;
            align-content: center;
            text-align: center;
        }

        
        .cards.big .imgBox img {
            object-fit: contain;
            align-self: flex-start;
        }
        
        
    }
    
    /* Mobile view */
    @media screen and (max-width: 480px) {
        /* Overview */
        .overview .cards {
            width: 90%;
        }
        
        .cards.big .content {
            display:flex;
            flex-direction: column;
            justify-content: center;
        }
        /* Planning */
        .row {
            min-width: 0;
            width: 80%;
        }
        .planning .container {
            justify-content: center;
        }
    }
