/* Header */
    header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: var(--headerHeight);
        background-color: var(--primaryColor);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header .container {
        justify-content: space-between;
    }

    header img {
        padding: 0;
        margin: 0 1rem;
    }

    header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    header li {
        float: left;
        margin: 0 0.5rem;
    }

    header li a {
        display: block;
        color: white;
        font-size: 1rem;
        text-align: center;
        font-size: small;
    }

    header li button a {
        color: black;
    }

    header h4 {
        margin: 0.5rem;
    }

/* Main */
    /* Sections */
        main section {
            background-color: var(--white);
            width: 100%;
            padding-top: var(--sectionPadding);
            padding-bottom: var(--sectionPadding);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        main section:nth-of-type(even) {
            background-color: var(--cardBackgroundColorViolet);
        }

    /* Overview, 1st section */

        .cards {
            width: calc(100% / 3 - 1.5rem);
            background-color: var(--cardBackgroundColorBlue);
            border-radius: var(--borderRadius);
            margin-bottom: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            align-self: stretch;
        }

        .cards i {
            font-size: 6rem;
            margin-top: 2rem;
        }

        .cards i,
        .cards h3 {
            color: var(--primaryColor);
        }

        .cards h4 {
            opacity: 60%;
        }

        .cards.big {
            width: calc(100% / 3 * 2 - 1.5rem);
            flex-direction: row;
            justify-content: space-around;
            text-align: left;
        }

        .cards.big .content {
            width: 50%;
            margin: 1rem 1.1rem;
            align-self: stretch;
        }

        .cards.big .imgBox {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }

        .cards.big .imgBox img {
            max-height: 18rem;
        }
    
    /* Planning, 2nd section */
    .planning {
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 5rem;
        flex-wrap: wrap;
        
    }
    
    .row {
        width: 30%;
        min-width: 500px;
        display: flex;
        flex-direction: column;
        color: white;
        justify-content: flex-end;
        align-self: stretch;
    }

    .row h3, 
    .row h4 {
        padding: 3rem;
    }

    .cards.white {
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 40px;
    }
    
    .cards.white h3,
    .cards.white h4,
    .cards.white i{
        color: black;
        padding: 0.5rem;
    }
    

/* footer */
    footer {
        height: 30vh;
        background-color: var(--cardBackgroundColorViolet);
    }

    footer section:last-child {
        
        background-color: var(--darkGreyColor);
        height: 20vh;
    }

    

